@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');
body {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
}

header ul {
    display: flex;
    padding: 10px 10px 50px 10px;
}

li {
    list-style: none;
    margin: 5px 10px;
}

h1 {
    font-size: 160px;
    font-weight: 700;
    margin: 3px;
}

h2 {
    margin: 0;
    font-weight: 300;
    text-align: center;
}

h3 {
    margin: 0;
}

.subtitle {
    font-size: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    text-align: center;
    margin-top: 17vh;
}

.light-text {
    font-weight: 100;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    padding: 30px;
    display: flex;
    align-items: center;
}

.options {
    display: flex;

}

.options a {
    margin: 40px 10px;

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.socials {
    width: 100px;
    height: 320px;
    background-color: rgb(190, 119, 190);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 27vh;
}

@media only screen and (max-width: 600px) {
    .socials {
        display: none;

    }
}
.social {
    width: 100%;
    height: 50%;
}

.wave {
    fill: rgb(0, 0, 0);
    width: 100vw;
    height: 65vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social svg {
    fill: rgb(255, 255, 255)
}

.work-details {
    width: 50%;
}

.work-details td {
    padding: 30px;
}

a:hover {
    color: rgb(255, 0, 166);
}

@media only screen and (max-width: 600px) {
    .work-details {
        width: 80%;
    }
    .work-details td {
        padding: 5px;
    }
}

.sub-pages-footer {
    position: relative;
    display: flex;
    justify-content: center;
    
}

.aboutme {
    width: 50%;
    text-align: center;
}

.aboutme img {
    height: 200px;
    margin: 40px 10px 10px 10px;
    border-radius: 50%;
}



/* contact page */

.form-submit {
    width: 50%;
}

.form-submit form {
    width: 100%;
    padding: 20px;

}

.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    width: 50%;
    padding: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    background-color: rgb(235, 240, 157);
}

.form-submit textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border: none;
    padding: 0;
    resize: none;
    font-size: 20px;
    margin-top: 5px;

}

form button {
    width: 100%;
    background-color: salmon;
    color: seashell;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;

}